PORT=3000
DB_URI=mongodb+srv://TU_USUARIO:TU_PASSWORD@TU_CLUSTER.mongodb.net/bildyapp?retryWrites=true&w=majority
PUBLIC_URL=http://localhost:3000
JWT_SECRET=una_clave_larga_y_segura_de_minimo_32_caracteres
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d